<section class="bg-black landing-section h-screen z-0 w-screen text-center relative overflow-hidden"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex  flex-col">
        <header class="">
            <h2 class="text-black pt-40 text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-black text-sm underline">
                Concertar una prueba de conduccion
            </p>
        </header>
        <footer class=" flex flex-grow flex-nowrap flex-col justify-end pb-24 items-center">
          <div  class="flex gap-x-4 ">
            <a href="#" class="bg-gray-600 rounded font-medium text-sm text-white px-14 hover:bg-gray-500 transition-colors py-2 inline-block">
                Explorar inventario
            </a>
            <a href="#" class="border-2 border-white bg-white rounded font-medium text-sm text-black px-14 hover:bg-black hover:border-black hover:text-white transition-colors py-2 inline-block">
                Ver mas
            </a>
          </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 z-20">
        <!-- <video class="" src="video.webm" autoplay loop  muted></video> -->
         <img src="model-3.avif" class="object-cover object-center h-full w-screen" alt="">
    </div>
</section>