<section class="bg-black landing-section h-screen z-0 w-screen text-center relative overflow-hidden"
    data-header-color="white"

>
    <div class="z-30 relative h-full flex  flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Disfrute de tesla
            </h2>
            <p class="text-white text-sm">
                Programe una prueba de conduccion
            </p>
        </header>
        <footer class=" flex flex-grow flex-nowrap flex-col justify-end pb-24 items-center">
            <a href="#" class="border-2 border-white backdrop-blur-sm rounded font-medium text-sm text-white px-14 hover:bg-white hover:text-black transition-colors py-2 inline-block">
                Prueba de conduccion
            </a>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 z-20">
        <video class="object-cover object-center h-full w-screen" src="video.webm" autoplay loop  muted></video>
    </div>
</section>